@font-face {
  font-family: projects-desc;
  src: url("../fonts/PlaypenSans-Light.ttf");
}

@font-face {
  font-family: projects-title;
  src: url("../fonts/PlaypenSans-Medium.ttf");
}

@font-face {
  font-family: self-desc;
  src: url("../fonts/PlaypenSans-Regular.ttf");
}

@font-face {
  font-family: self-title;
  src: url("../fonts/PlaypenSans-SemiBold.ttf");
}

@font-face {
  font-family: me;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: job;
  src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: mid;
  src: url("../fonts/Rubik-Italic.ttf");
}

.title h1 {
  font-family: me;
}

.title h3 {
  font-family: job;
}

.desc span {
  font-family: self-title;
}

.desc {
  font-family: self-desc;
}

.projects span {
  font-family: projects-title;
}

.projects p {
  font-family: projects-desc;
}

.mid-1, .mid-2 {
  font-family: mid;
} 





