@font-face {
  font-family: projects-desc;
  src: url("/assets/fonts/PlaypenSans-Light.ttf");
}

@font-face {
  font-family: projects-title;
  src: url("/assets/fonts/PlaypenSans-Medium.ttf");
}

@font-face {
  font-family: self-desc;
  src: url("/assets/fonts/PlaypenSans-Regular.ttf");
}

@font-face {
  font-family: self-title;
  src: url("/assets/fonts/PlaypenSans-SemiBold.ttf");
}

@font-face {
  font-family: me;
  src: url("/assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: job;
  src: url("/assets/fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: mid;
  src: url("/assets/fonts/Rubik-Italic.ttf");
}

.title h1 {
  font-family: me;
}

.title h4 {
  font-family: job;
}

.desc span {
  font-family: self-title;
}

.desc {
  font-family: self-desc;
}

.projects span {
  font-family: projects-title;
}

.projects p {
  font-family: projects-desc;
}

.mid-1, .mid-2 {
  font-family: mid;
} 

/* CSS COMMON TO EVERY LAYOUTS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  background-color: #e5e4e4;
}

.upper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10vw;
}

.social {
  display: flex;
}

.social a {
  position: relative;
  margin: 0 1vw 0 1vw;
  background-color:#c0781f;
  border-radius: 5px;
}

.social a svg {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

.self {
  display: flex;
  position: relative;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects-items div {
  position: relative;
  height: 18vh;
  background-color: #cdcdcd;
  border-radius: 5px;
  box-shadow: 0 0.3rem 0.8rem rgba(90, 74, 199, .8),
              inset  -3em -3em  #adadad;
}

.projects-items div span {
  display: block;
  text-align: center;
}

.projects-items div p {
  text-align: center;
  margin-top: 1vh;
}



