
  
  .nav-item::before, .nav-item::after {
    position: absolute;
    background: #223;
    z-index: -1;
    transition: 1s;
    content: ''; 
  }
  
  .nav-item::before {
    height: 5vh;
    width: 7vw;
  }
  
  .nav-item::after {
    width: 7vw;
    height: 4vh;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover::before {
    width: 0px;
    background: #fff;
  }
  
  .nav-item:hover::after {
    height: 0px;
    background: #fff;
  }
  
  .nav-item:hover {
    background: #fff;
    border: 3px solid #e4cb58;
    filter: hue-rotate(45deg);
    .noselect{
      color: #223;
    }
  }


.description {
  display: flex;
}

.skill-icon svg{
  display: flex;
  width: 10vw;
  height: 10vh;
  --m:
    radial-gradient(circle farthest-side at right,#000 99%,#0000) 
      0 100%/46% 92% no-repeat,
    radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
      100% 0/46% 92% no-repeat;
  -webkit-mask: var(--m);
          mask: var(--m);
  filter: grayscale(.5);
  transition: .3s linear;
  cursor: pointer;
}

.skill-icon svg:hover {
  -webkit-mask-position: 7.5% 50%,92.5% 50%;
  mask-position: 7.5% 50%,92.5% 50%;
  filter: grayscale(0);
}

.skill-icon svg:hover + div{
  display: flex;
}