@import url("/assets/CSS/common.css");

.upper {
  height: 70vh;
}

.title{
  top: 8vh;
}

.title h1 {
  font-size: 4rem;
}

.social {
  flex-direction: row;
}

.social a {
  width: 5vw;
  height: 5vh;
}

.social a:first-child {
  margin-left: 0;
}

.self {
  width: 40vw;
  height: 100%;
  background-color: rgba(90, 74, 199, .8);
  flex-direction: column;
  position: relative;
}


.self::before {
  content: "";
  width:0;
  border-bottom: 70vh solid rgba(90, 74, 199, .8);
  border-left: 90px solid transparent;
  height:0px;
  position: absolute;
  top: 0;
  left: -90px;
}

.rounded-circle {
  width: 16vw;
  height: 30vh;
  z-index: 1;
  position: absolute;
  top: 8vh;
  left: 10vw;
}

.desc-mobile {
  display: none;
}

#about-me {
  display: none;
}

.about {
  display: none;
}

.desc {
  z-index: 1;
  position: relative;
  top: 44vh;
  left: 9vw;
  max-inline-size: 60%;
  
}

.btn {
  display: none !important;
}

.desc span {
  display: block;
  text-align: center;
}

.separator {
  width: 100%;
  height: 1vh;
  position: relative;
  bottom: 1vh;
  background: linear-gradient(160deg, #ebe9e9 15%, rgba(90, 74, 199, .8) 35%);
}

.mid-1 {
  position: relative;
  bottom: 5vh;
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

.projects {
 
  justify-content: space-evenly;
}

.projects h6 {
  align-self: center;
}

.projects-items {
  display: flex;
  justify-content: space-evenly;
}

.projects-items div {
  width: 12vw;
}

.projects-items div p {
  font-size: 0.9rem;
}

.lower {
  display: flex;
  justify-content: space-around;
}

.workflow-pic {
  position: relative;
  top: 15vh;
  left: 10vw;
  width: 40vw;
}

.lower iframe {
  position: relative;
  top: 15vh;
  height: 40vh;
  width: 40vw;
}





























/*
.self::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  background-color: rgba(90, 74, 199, .8);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 40vw;
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
}*/

