* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4em;
  color: white;
}

h3 {
  font-size: 1.5em;
  color: white;
}

.upper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #223;
  z-index: -1;
}

.circle {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: repeating-radial-gradient(circle at bottom, #e4cb58 0.5px, #223 5px, #223 117px);
  z-index: 0;
}

.nav {
  display: flex;
  height: 10vh;
  width: 100%;
  position: sticky;
  box-shadow: 0px 0px 15px black;
  z-index: 10;
  background-color: #223;
  top: 0px;
}

.nav::after {
  content: "";
  position: absolute;
  height: 0;
  border-top: 10vh solid #223;
  border-right: 3vw solid transparent;
  left: 40vw;
}

.nav-item {
  margin: 5px;
  width: 10vw;
  height: 5vh;
  border: 1px solid white;
  font-family: 'Cinzel', serif;
  font-size: 1em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  background-color: #223;
}

@media only screen and (min-width: 426px) {
  
  .nav-item::before, .nav-item::after {
    position: absolute;
    background: #223;
    z-index: -1;
    transition: 1s;
    content: ''; 
  }
  
  .nav-item::before {
    height: 5vh;
    width: 7vw;
  }
  
  .nav-item::after {
    width: 7vw;
    height: 4vh;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover::before {
    width: 0px;
    background: #fff;
  }
  
  .nav-item:hover::after {
    height: 0px;
    background: #fff;
  }
  
  .nav-item:hover {
    background: #fff;
    border: 3px solid #e4cb58;
    filter: hue-rotate(45deg);
    .noselect{
      color: #223;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 20vh;
  top: 20vh;
  left: 10vw;
  z-index: 1;
  background-color: #223;
}



.title h3 {
  font-size: 1.5em;
}

.social {
  display: flex;
  flex-direction: row;
}

.social a {
  position: relative;
  margin: 0 1vw 0 1vw;
  background-color:none;
  border: 2px solid #e4cb58;
  transition: 0.25s;
  width: 4vw;
  height: 4vh;
}

.social a:first-child {
  margin-left: 0;
}

.social a svg { 
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

.social a svg path {
  fill: #e4cb58 ;
}

.up {  
  width: 100px;
  height: 50px;
  color: #e4cb58;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

@media only screen and (min-width: 426px) {
  .up:hover { 
    border: 0px;
    box-shadow: inset 0 -3.25em 0 0 #e4cb58;
    filter: hue-rotate(45deg);
    color: #fff;
    z-index: 10;
  }
}

.self {
  display: flex;
  width: 25vw;
  height: 100%;
  background-color: rgba(90, 74, 199, 1);
  position: relative;
  z-index: 2;
  
}

.self::before {
  content: "";
  width:0;
  border-bottom: 100vh solid rgba(90, 74, 199, 1);
  border-left: 30vw solid transparent;
  height:0px;
  position: absolute;
  top: 0;
  left: -30vw;
}

.rounded-circle {
  width: 30vw;
  height: 50vh;
  border-radius: 5%;
  z-index: 1;
  position: absolute;
  top: 30vh;
  right: 10vw;
}

.separator {
  height: 2vh;
  background-color: rgba(90, 77, 180, 1);
  z-index: 1;
  position: relative;
}

.projects-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #223;
  align-items: center;
}

.wrapper {
  width: 38%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  height: 25vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

input {
  display: none;
}

input:checked + label {
  width: 300px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: rotateY(0) !important;
}

.card {
  width: 80px;
  border-radius: .75rem;
  background-size: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28, -0.03, 0, .99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.column {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.icon-plus {
  position: absolute;
}

.row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.icon {
  background-color: rgba(119, 109, 185, .8);
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.icon svg {
  width: 70%;
  height: 70%;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 70%;
  height: 80px;
  opacity: 0;
  transform: translateY(20px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description a {
  text-decoration: none;
  color: white;
}

.description h4 {
  text-transform: uppercase;
}

.description p {
  color: #131350;
  padding-top: 5px;
}

.card[for="c1"], .card[for="c2"] {
  background-image: url("../images/pngtree-d-illustration-showing-a-mobile-phone-that-s-filled-with-different-picture-image_2677997.jpg");
  background-repeat: no-repeat;
  background-size: 300px 25vh;
}

.card[for="c4"], .card[for="c5"] {
  background-image: url("../images/how-to-build-a-web-app.jpg");
  background-repeat: no-repeat;
  background-size: 300px 25vh;
}

.lower {
  background-color: #223;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.lower h1 {
  text-align: center;
  height: 100vh;
}

.desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 20px 0;
}

.self-desc {
  max-width: 60vw;
  color: white;
}

.skill-icons {
  display: flex;
  justify-content: space-evenly;
}

.skill-icon svg{
  display: flex;
  width: 10vw;
  height: 10vh;
  --m:
    radial-gradient(circle farthest-side at right,#000 99%,#0000) 
      0 100%/46% 92% no-repeat,
    radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
      100% 0/46% 92% no-repeat;
  -webkit-mask: var(--m);
          mask: var(--m);
  filter: grayscale(.5);
  transition: .3s linear;
  cursor: pointer;
}

.skill-exp{
  display: none;
  width: 10vw;
  height: 25vh;
  border: 2px solid white;
  border-radius: .5rem;
  box-shadow: 5px 5px white;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5vh;
}

.skill-exp p {
  color: white;
  text-align: center;
}

.skill-icon svg:hover {
  -webkit-mask-position: 7.5% 50%,92.5% 50%;
  mask-position: 7.5% 50%,92.5% 50%;
  filter: grayscale(0);
}

.skill-icon svg:hover + div{
  display: flex;
}

