
@font-face {
  font-family: self-desc;
  src: url("../fonts/PlaypenSans-Regular.ttf");
}

@font-face {
  font-family: me;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: job;
  src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: mid;
  src: url("../fonts/Rubik-Italic.ttf");
}

.title h1 {
  font-family: me;
}

.title h3 {
  font-family: job;
}

.projects-container h1, .lower h1, .contact h1 {
  font-family: mid;
}

.desc {
  font-family: self-desc;
}







