.nav {
  width: 100%;
}

.nav-item {
  width: 25vw;
}

.nav-item a {
  color: white;
  text-decoration: none;
}


.title h1 {
  font-size: 2em;
}

.title h3 {
  font-size: 1em;
}

.self::before {
  left: -29.89vw;
}

.social a {
  width: 9vw;
}

.rounded-circle {
  height: 40vh;
  width: 50vw;
  right: 5vw;
  top: 50vh;
}

.wrapper {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.description {
  display: none;
}

input:checked + label {
  width: 100%;
}

input:checked + label .description {
  display: flex;
}

.skill-icon svg:focus + div {
  display: flex;
}

.skill-icon svg {
  width: 20vw;
  height: 20vh;
}

.skill-exp {
  width: 28vw;
  height: 31vh;
}






