@import url("/assets/CSS/common.css");

#body {
  display: grid;
  grid-template-areas:
  "upper upper"
  "sep sep"
  "mid-1 ."
  "projects projects"
  "mid-2 ."
  "about about"
  "mid-3 ."
  "lower lower"
   ;
}

.upper {
  grid-area: upper;
  background-color: rgba(90, 74, 199, .8);
  height: 50vh;
  flex-direction: column;
}


.title {
  align-items: start;
  top: 7vh;
  width: 80vw;
}

.title h1 {
  margin-bottom: 0%;
  font-size: 3rem;
}

.title h4 {
  margin-top: 0%;
  margin-bottom: 0%;
}

.social {
  margin-top: 0%;
  justify-content: space-between;
}

.social a {
  height: 4vh;
  width: 10vw;
}

.self {
  display: flex;
  justify-content: space-around;
  bottom: 2vh;
}

.rounded-circle {
  padding: 0 !important;
  padding-left: 5%;
  width: 38vw;
  height: 20vh;
}

.desc {
  display: none;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  margin: auto;
  position: relative;
  right: 5vh;
  background-color: rgb(247, 181, 58);
}

.desc-mobile {
  grid-area: about;
  padding-left: 5%;
  max-inline-size: 80%;
  font-family: self-desc;
  text-align: start;
}

.separator {
  grid-area: sep;
  width: 100%;
  height: 5vh;
  background: linear-gradient(to bottom, rgba(90, 74, 199, .8) 30%,rgba(113, 99, 205, 0.8) 30%,#e5e4e4);
}

.mid-1{
  font-size: 2.5rem;
  grid-area: mid-1;
  position: relative;
  bottom: 4vh;
}

.projects-container {
  grid-area: projects ;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
}

.projects {
 
  align-items: center;
}

.projects-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projects-items div {
  width: 25vw;
}

.projects-items div p {
  font-size: 0.78rem;
}

.mid-2 {
  grid-area: mid-3;
}

.lower {
  grid-area: lower;
  display: flex;
  flex-direction: column;
}

.workflow-pic {
  align-self: center;
  margin-bottom: 5vh;
}

.lower iframe {
  align-self: center;
  height: 20vh;
  width: 70vw;
}

#about-me {
  grid-area: mid-2;
  font-family: mid;
}