.nav {
  width: 100%;
}

.nav::after {
  left: 50vw;
}

.nav-item {
  width: 25vw;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.title h1 {
  font-size: 2em;
}

.title h3 {
  font-size: 1em;
}

.self::before {
  left: -29.89vw;
}

.social a {
  width: 9vw;
}

.rounded-circle {
  height: 40vh;
  width: 50vw;
  right: 5vw;
  top: 50vh;
}

.wrapper {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

input:checked + label {
  width: 50vw;
}





