* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.upper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #223;
}

.nav {
  display: flex;
  height: 10vh;
  width: 70vw;
  position: relative;
  box-shadow: 0px 0px 15px black;
}

.nav::after {
  content: "";
  position: absolute;
  height: 0;
  border-top: 10vh solid #223;
  border-right: 3vw solid transparent;
  left: 70vw;
  

}

.nav-item {
  margin: 5px;
  width: 10vw;
  height: 5vh;
  border: 1px solid white;
  font-family: 'Cinzel', serif;
  font-size: 1em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  background-color: #223;
}

.nav-item::before, .nav-item::after {
  position: absolute;
  background: #223;
  z-index: -1;
  transition: 1s;
  content: ''; 
}

.nav-item::before {
  height: 5vh;
  width: 7vw;
}

.nav-item::after {
  width: 7vw;
  height: 4vh;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  text-decoration: none;
  color: white;
}



.nav-item:hover::before {
  width: 0px;
  background: #fff;
}

.nav-item:hover::after {
  height: 0px;
  background: #fff;
}



.nav-item:hover {
  background: #fff;
  border: 5px solid #c0781f;
  .noselect{
    color: #223;
  }
}



.title {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20vh;
  left: 10vw;
  z-index: 1;
}

.title h1 {
  z-index: 10;
}

.social {
  display: flex;
  flex-direction: row;
}

.social a {
  position: relative;
  margin: 0 1vw 0 1vw;
  background-color:none;
  border: 2px solid #e4cb58;
  transition: 0.25s;
  width: 4vw;
  height: 4vh;
}

.social a svg { 
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

.social a svg path {
  fill: #e4cb58 ;
}
/*
.social a:hover  {

  box-shadow: inset 0 -3.25em 0 0 #e4cb58;
  filter: hue-rotate(45deg);
  width: 5vw;
  height: 5vh;
  fill: #fff;
}*/

.up:hover,
.up:focus {
  --hoveer: #{adjust-hue(#333, 45deg)};
  box-shadow: inset 0 -3.25em 0 0 var(--hoveer);
}

.up {  
  width: 100px;
  height: 50px;
  color: #e4cb58;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.up:hover { 
  border: 0px;
  box-shadow: inset 0 -3.25em 0 0 #e4cb58;
  filter: hue-rotate(45deg);
  color: #fff;
  z-index: 10;
}



.self {
  display: flex;
  width: 25vw;
  height: 100%;
  background-color: rgba(90, 74, 199, .8);
  position: relative;
}

.self::before {
  content: "";
  width:0;
  border-bottom: 100vh solid rgba(90, 74, 199, .8);
  border-left: 30vw solid transparent;
  height:0px;
  position: absolute;
  top: 0;
  left: -30vw;
}

.rounded-circle {
  width: 30vw;
  height: 50vh;
  border-radius: 5%;
  z-index: 1;
  position: absolute;
  top: 30vh;
  right: 10vw;
}


.separator {
  height: 2vh;
  background-color: rgba(36, 22, 134, .8);
}


.projects-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #223;
  align-items: center;
}

.projects-container h1 {
  position: relative;
  right: 30vw;
  
}


.wrapper {
  width: 38%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  height: 25vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

input {
  display: none;
}

input:checked + label {
  width: 300px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: rotateY(0) !important;
}

.card {
  width: 80px;
  border-radius: .75rem;
  background-size: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28, -0.03, 0, .99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.column {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.icon-plus {
  position: absolute;
}

.row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.icon {
  background-color: rgba(119, 109, 185, .8);
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.icon svg {
  width: 70%;
  height: 70%;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 70%;
  height: 80px;
  opacity: 0;
  transform: translateY(20px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description h4 {
  text-transform: uppercase;
}

.description p {
  color: #b0b0b4;
  padding-top: 5px;
}

.card[for="c1"], .card[for="c2"] {
  background-image: url("/assets/images/pngtree-d-illustration-showing-a-mobile-phone-that-s-filled-with-different-picture-image_2677997.jpg");
  background-repeat: no-repeat;
  background-size: 300px 25vh;
}

.card[for="c4"], .card[for="c5"] {
  background-image: url("/assets/images/how-to-build-a-web-app.jpg");
  background-repeat: no-repeat;
  background-size: 300px 25vh;
}

.lower {
  background-color: #223;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.desc {
  display: flex;
  justify-content: space-around;
}

.self-desc {
  max-width: 40vw;
}

.skill-icons {
  display: flex;
  justify-content: space-evenly;
}




.skill-icon svg{
  display: flex;
  width: 10vw;
  height: 10vh;
  --m:
    radial-gradient(circle farthest-side at right,#000 99%,#0000) 
      0 100%/46% 92% no-repeat,
    radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
      100% 0/46% 92% no-repeat;
  -webkit-mask: var(--m);
          mask: var(--m);
  filter: grayscale(.5);
  transition: .3s linear;
  cursor: pointer;
}



.skill-exp{
  display: none;
  width: 10vw;
  height: 25vh;
  border: 2px solid white;
  border-radius: .5rem;
  box-shadow: 5px 5px white;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5vh;
}


.skill-icon svg:hover {
  -webkit-mask-position: 7.5% 50%,92.5% 50%;
  mask-position: 7.5% 50%,92.5% 50%;
  filter: grayscale(0);
}

.skill-icon svg:hover + div{
  display: flex;
}

