@import url("/assets/CSS/mobile.css");

.self {
  bottom: 3vh;
}

.desc-popover {
  display: none;
}

.desc {
  display: block;
  max-inline-size: 60%;
}

.btn {
  display: none !important;
}

.rounded-circle {
  height: 25vh;
}

.lower {
  flex-direction: row;
  justify-content: space-evenly;
}

.lower iframe {
  width: 50vw;
}