@import url("/assets/CSS/mobile.css");


.desc-mobile {
  display: none;
}

.about {
  display: none;
}

#about-me {
  display: none;
}

.desc {
  display: block;
  max-inline-size: 50%;
}

.desc span {
  display: block;
}

.rounded-circle {
  height: 25vh;
}

.lower {
  flex-direction: row;
  justify-content: space-evenly;
}

.lower iframe {
  width: 50vw;
}